<!-- site__body -->
<div class="site__body">
    <div class="block about-us">
        <div class="about-us__image"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-xl-10">
                    <div class="about-us__body">
                        <h2 class="about-us__title">Đặt hàng thành công</h2>
                        <div class="not-found">
                            <div class="not-found__content">
                                <p>Chúc mừng quý khách đã đặt hàng thành công.</p>
                                <p> Mã đơn: <span class="font-weight-bold"> {{.OrderCode}}</span></p>
                                <p>Chúng tôi sẽ liên hệ tới quý khách trong thời gian sớm nhất</p>
                                <a class="btn btn-secondary btn-sm" href="/">Tiếp tục mua sắm</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- site__body / end -->
