    <!-- site__body -->
        <div class="site__body">
            <div class="page-header">
                <div class="page-header__container container">
                    <div class="page-header__breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/">Home</a>
                                    <svg class="breadcrumb-arrow" width="6px" height="9px">
                                        <use xlink:href="/"></use>
                                    </svg>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="javascript:;">Tìm kiếm</a>
                                    <svg class="breadcrumb-arrow" width="6px" height="9px">
                                        <use xlink:href="/images/sprite.svg#arrow-rounded-right-6x9"></use>
                                    </svg>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="container">
                {{if eq (len .Search) 0}}
                    <div class="block about-us">
                        <div class="about-us__image"></div>
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-12 col-xl-10">
                                    <div class="about-us__body">
                                        <h2 class="text-center" style="font-weight: lighter;">Kết quả tìm kiếm cho từ khoá "<span class="font-weight-bold">{{.SearchNameProduct}}</span>"</h2>
                                        <div class="text-center">
                                            <p>Không tìm thấy sản phẩm phù hợp</p>
                                            <br>
                                        </div>
                                        <div class="not-found">
                                            <div class="not-found__content">
                                                <a class="btn btn-secondary btn-sm" href="/">Qoay lại trang chủ</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{else}}
                <div class="row">
                    <div class="col-12">
                        <h2 class="about-us__title text-center">Kết quả tìm kiếm cho từ khoá "{{.SearchNameProduct}}"</h2>
                        <div class="block">
                            <div class="products-view">
                                <div class="products-view__options">
                                    <div class="view-options view-options--offcanvas--always">
                                        <div class="view-options__legend">hiển thị {{$len := len .Search}}{{$len}} của {{.ProductCount}} sản phẩm</div>
                                        <div class="view-options__divider"></div>
                                        <div class="view-options__control">
                                            <label for="">Hiển thị</label>
                                            <div>
                                                <select class="form-control form-control-sm" onchange="limitPageChange()" name="limit-products">
                                                    <option value="12" {{if eq .Paging.Limit 12 }} selected {{end}}>12</option>
                                                    <option value="24" {{if ne .Paging.Limit 12 }} selected {{end}}>24</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="products-view__list products-list" data-layout="grid-4-full" data-with-features="false" data-mobile-grid-columns="2">
                                    <div class="products-list__body">
                                        {{range .Search}}
                                        <div class="products-list__item">
                                            <div class="product-card ">
                                                <div class="product-card__badges-list">
                                                    {{if eq .IsSale true }}
                                                    <div class="product-card__badge product-card__badge--sale">Sale</div>
                                                    {{end}}
                                                </div>
                                                <div class="product-card__image">
                                                    <a href="/product/{{if .Slug}}{{.Slug}}-{{end}}{{.ID}}"><img src="{{ $length := len .Product.ImageURLs }}
                                                        {{ if eq $length 0 }}
                                                            https://shop.d.etop.vn/assets/images/placeholder_medium.png
                                                        {{else}}
                                                            {{index .Product.ImageURLs 0}}
                                                        {{end}}" alt=""></a>
                                                </div>
                                                <div class="product-card__info">
                                                    <div class="product-card__name">
                                                        <a href="/product/{{if .Slug}}{{.Slug}}-{{end}}{{.ID}}">{{.Product.Name}}</a>
                                                    </div>
                                                </div>
                                                <div class="product-card__actions">
                                                    <div class="product-card__availability">
                                                        Availability: <span class="text-success">In Stock</span>
                                                    </div>
                                                    <div class="product-card__prices">
                                                        <span class="product-card__new-price">{{formatNumber ((index .Product.Variants 0).RetailPrice)}}đ</span>
                                                        <span class="product-card__old-price">{{formatNumber ((index .Product.Variants 0).RetailPrice)}}đ</span>
                                                    </div>
                                                    <div class="product-card__buttons">
                                                        <button class="btn btn-primary product-card__addtocart" type="button" onclick="AddOneProduct({{.Product.ProductID}},{{(index .Product.Variants 0).VariantID}})">Thêm vào giỏ</button>
                                                        <button class="btn btn-secondary product-card__addtocart product-card__addtocart--list" type="button">Add To Cart</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {{end}}
                                    </div>
                                </div>
                                <div class="products-view__pagination">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item disabled">
                                            <a class="page-link page-link--with-arrow" href="" aria-label="Previous">
                                                <svg class="page-link__arrow page-link__arrow--left" aria-hidden="true" width="8px" height="13px">
                                                    <use xlink:href="/images/sprite.svg#arrow-rounded-left-8x13"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        {{$limit := .Paging.Limit}}
                                        {{$paging := .Paging}}
                                        {{$seach_key := .SearchNameProduct}}
                                        {{range .Paging.ListPage}}
                                            <li class="page-item {{if eq . $paging.Selection}} active {{end}}">
                                                <a class="page-link" href="/search/{{$seach_key}}/{{.}}/{{$limit}}"> {{.}}</a></li>
                                        {{end}}
                                        <li class="page-item">
                                            <a class="page-link page-link--with-arrow" href="" aria-label="Next">
                                                <svg class="page-link__arrow page-link__arrow--right" aria-hidden="true" width="8px" height="13px">
                                                    <use xlink:href="/images/sprite.svg#arrow-rounded-right-8x13"></use>
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
        <!-- site__body / end -->

    <script>
        function limitPageChange() {
            var valueLimit = $('select[name="limit-products"]').val()
            window.location.href = "/search/"+ {{.SearchNameProduct}} + "/1/"+valueLimit
        }

        function AddOneProduct(productID) {
            var formData = new FormData();
            formData.append("product_id", productID)

            var request = new XMLHttpRequest();
            request.onreadystatechange = function() {
                var responseCart = this.response
                if (this.readyState === 4 && this.status == 200) {
                    var requestGetCount = new XMLHttpRequest();
                    requestGetCount.onreadystatechange = function () {
                        $('.dropcart__body').html(responseCart)
                        $('.indicator__value').text(this.response)
                    }
                    var formData = new FormData();
                    requestGetCount.open("POST", "/cart/total-count ");
                    requestGetCount.send(formData);
                }
            };
            request.open("POST", "/cart/add-one-product");
            request.send(formData);
        }
    </script>

